<section class="section_specialization">
	<h3 class="section_title">
		О специальности
	</h3>
	<div class="container">			
		<div class="section_header">
			<input type="checkbox" class="read-more-checker" id="read-more-checker" />	
			<div class="limiter">
				<div class="section_text">
					<p>В 60-е годы ХХ века в производственном секторе экономики Советского Союза 
					для решения управленческих и производственных задач стали активно внедряться 
					автоматизированные системы обработки информации на базе больших ЭВМ. Каждое 
					крупное предприятие (и некоторые средние) имело такую ЭВМ. Сначала это были 
					ЭВМ «Минск-22». В 70-е годы они были заменены на «Минск-32», а в 80-е годы 
					вместо ЭВМ серии «Минск» стали использоваться ЭВМ cерии «EC» (аналог IBM).
					</p>
					<p>Кроме того, на каждом предприятии, имеющем большую ЭВМ, обязательно был 
					свой отдел АСУ, функции которого заключались в том, чтобы составлять программы 
					для решения конкретных задач в определенных подразделениях предприятия (бухгалтерии, 
					отделе сбыта, отделе снабжения, плановом отделе, отделе Главного механика, отделе 
					кадров и др.). Таким образом, специалисты отдела АСУ находились в постоянном 
					информационно-технологическом контакте с непосредственными заказчиками. Это 
					способствовало оперативности решения задач быстрому редактированию программ 
					при необходимости.
					</p>
					<p>Поскольку для отделов АСУ по всей стране требовалось много квалифицированных
					специалистов, то возникла потребность в их подготовке. Это обстоятельство послужило 
					основанием для открытия в ИПИ (Иркутском политехническом институте) новой специальности 
					«АСУ».
					</p>
					<p>После окончания института все выпускники проходили через процедуру распределения. 
					Ее суть заключалась в том, что предприятия, на которые требовались специалисты с 
					соответствующей подготовкой, заранее направляли свои заявки в Министерство высшего 
					образования. Затем Министерство выделяло определенное количество заявок по вузам. И 
					каждый выпускник мог выбирать место работы и должность из представленного списка. 
					Например, выпускники первого набора АСУ (АСУ-71) были распределены на предприятия 
					и в организации Иркутска, Ангарска, Комсомольска-на Амуре, Челябинска и др. городов.
					</p>
					
					
				</div>
				<h4 class="section_title" >Статистка выпуска студентов</h4>
					<img class= "stat" src="../../assets/statistic.JPG" alt="" srcset="">
				<div class="bottom"></div>
			</div>
			<label for="read-more-checker" class="read-more-button"></label>
		</div>

	</div>
</section>