<div class="container">
   <div class="title"> Сотрудники
   </div>
   <div class="infor" >
      <div class="cont"> 
          
         
          <div class="row">
                
                
                 <!-- начало 1 работы с обьяснением -->
            <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Kitaeva_web.jpg" >
                </div>
                    
                <div class="infor-item__title">
                    <p>Китаева Ольга Игоревна</p>
                </div>
                <div class="infor-item__text">
                   <p> Заместитель директора по учебной работе <p>
                </div>
                    
                </div>  
            </div> 
            <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Petrov_P_A_web.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Петров Павел Александрович</p>
                </div>
                <div class="infor-item__text">
                   <p> Доцент <p>
                </div>
                </div>  
            </div> 
            <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/grigoriev.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Григорьев Станислав Валентинович</p>
                </div>
                <div class="infor-item__text">
                   <p> Заместитель директора по международной и научной деятельности <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Bragin.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Брагин Александр Евгеньевич</p>
                </div>
                <div class="infor-item__text">
                   <p> Сотрудник <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Ognyev_web.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Огнев Игорь Анатольевич</p>
                </div>
                <div class="infor-item__text">
                   <p> Доцент <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Serysheva_I.A..jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Серышева Ирина Анатольевна</p>
                </div>
                <div class="infor-item__text">
                   <p> Старший преподаватель <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Nosyreva_L_L_web.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Носырева Людмила Леонидовна</p>
                </div>
                <div class="infor-item__text">
                   <p> Доцент <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Glukhikh_web.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Глухих Владимир Иванович</p>
                </div>
                <div class="infor-item__text">
                   <p> Доцент <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Kalinovich.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Калинович Арсений Евгеньевич</p>
                </div>
                <div class="infor-item__text">
                   <p> Преподаватель <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Gutgarts_R.D..jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Гутгарц Римма Давыдовна
   </p>
                </div>
                <div class="infor-item__text">
                   <p> Профессор <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Bakhvalov_S.V..jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Бахвалов Сергей Владимирович</p>
                </div>
                <div class="infor-item__text">
                   <p> Доцент <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/kusey.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Куцый Николай Николаевич</p>
                </div>
                <div class="infor-item__text">
                   <p> Профессор <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Marinov.jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Маринов Александр Андреевич</p>
                </div>
                <div class="infor-item__text">
                   <p> Сотрудник <p>
                </div>
                </div>  
            </div>
              <div class="col-4">
                <div class="infor-item">                  
                <div class="infor-item__img">
                   <img src= "../../../../assets/Bakhvalova_Z.A..jpg" >
                </div>
                <div class="infor-item__title">
                    <p>Бахвалова Зинаида Андреевна</p>
                </div>
                <div class="infor-item__text">
                   <p> Преподаватель <p>
                </div>
                </div> 
            </div>
              <!--// конец работы с обьяснением -->
        </div>
    </div>
   </div>
   
</div>