<div class="bobo">
 <!-- partial:index.partial.html -->
 <ul class="timeline">
    <li class="event">
        <div class="event-date">1971</div>
        <div class="event-desc has-image"><img src="../../assets/71.jpg" />Открыта подготовка специалистов по специальности 0646 автоматизированных систем управления АСУ</div>
    </li>
    <li class="event">
        <div class="event-date">1974</div>
        <div class="event-desc has-image"><img src="../../assets/74.jpg" />Открыта научно исследовательская лаборатория автоматизированных систем управления(ОНИЛ АСУП-ИПИ)</div>
    </li>
    <li class="event">
        <div class="event-date">1976</div>
        <div class="event-desc has-image"><img src="../../assets/76.jpg" />Первый выпуск АСУ</div>
    </li>
    
    <li class="event">
        <div class="event-date">1980</div>
        <div class="event-desc has-image"><img src="../../assets/80.jpg"/>На базе кафедры ЭиВТ были образованы: кафедра экономической кибернетики, первым заведующим которой был С.С. Ованесян; заведующим которой был Е.И. Попов; кафедра вычислительной техники, первым заведующим которой был В.Г. Кирий.</div>
    </li>
    <li class="event">
        <div class="event-date">2021</div>
        <div class="event-desc has-image"><img src="../../assets/80.jpg" />Юбилей!</div>
    </li>
</ul>
<!-- partial -->

</div>
   