<!-- GALERY -->
<section id="galery">
	<div class="container">
		<div class="video-container">
			<iframe width="853" height="480" src="https://www.youtube.com/embed/E22vfdMsQzU" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="video-container">
			<iframe width="853" height="480" src="https://www.youtube.com/embed/E22vfdMsQzU" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="video-container">
			<iframe width="853" height="480" src="https://www.youtube.com/embed/E22vfdMsQzU" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="columns">
			<div class="column1">
					<img nz-image class="photos1 materialboxed" nzSrc="../../assets/img1.jpg" alt="1967_Горохов А.Г., Шипилова А.А., Егорова Н.Н." title="1967_Горохов А.Г., Шипилова А.А., Егорова Н.Н.">
					<img nz-image class="photos1 materialboxed" nzSrc="../../assets/img2.jpg" alt="АСУ-71-1" title="АСУ-71-1_Первый выпуск">
				<div class="line1">
					<img nz-image class="photos1 materialboxed" nzSrc="../../assets/img34.JPG" alt="КПП" title="КПП">
					<img nz-image class="photos1 materialboxed" nzSrc="../../assets/img4.jpg" alt="1990_приезд Межовой Г.П. Кафедра ЭиВТ" title="1990_приезд Межовой Г.П. Кафедра ЭиВТ">
				</div>	
					<img nz-image class="photos1 materialboxed" nzSrc="../../assets/img5.jpg" alt="ОНИЛ" title="ОНИЛ">
					
					<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img7.jpg" alt="Минск-22_Егорова Людмила Андреевна" title="Минск-22_Егорова Людмила Андреевна">
					<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img8.jpg" alt="1964_Межова Г.П., Сосинская С.С., Егорова Л.А." title="1964_Межова Г.П., Сосинская С.С., Егорова Л.А.">
					<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img9.jpg" alt="img9" title="">
					<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img10.jpg" alt="80-ые_СМ-1600" title="80-ые_СМ-1600">
					<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img25.JPG" alt="АСУ-85" title="АСУ-85">
				</div>
			
			<div class="column2">
				<img nz-image  class="photos1 materialboxed" nzSrc="../../assets/img11.jpg" alt="АСУ-72" title="АСУ-72">
				<img nz-image  class="photos1 materialboxed" nzSrc="../../assets/img12.jpg" alt="АСУ-76-1" title="АСУ-76-1">
				
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img14.jpg" alt="АСУ-78-2" title="АСУ-78-2">
				<img nz-image  class="photos1 materialboxed" nzSrc="../../assets/img15.jpg" alt="АСУ-80" title="АСУ-80">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img16.jpg" alt="АСУ-81" title="АСУ-81">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img17.jpg" alt="АСУ-85" title="АСУ-85">
	
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img26.JPG" alt="АСУ-80" title="АСУ-80">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img27.JPG" alt="АСУ-81" title="АСУ-81">
			</div>	
			
			<div class="column3">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img28.JPG" alt="АСУ-72" title="АСУ-72">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img29.JPG" alt="АСУ-76-1" title="АСУ-76-1">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img30.JPG" alt="АСУ-77-1" title="АСУ-77-1">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img32.JPG" alt="АСУ-78-2" title="АСУ-78-2">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img18.JPG" alt="АСУ-80" title="АСУ-80">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img19.JPG" alt="АСУ-81" title="АСУ-81">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img20.JPG" alt="АСУ-85" title="АСУ-85">

				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img21.JPG" alt="АСУ-80" title="АСУ-80">
				<img nz-image  class="photos1 materialboxed" nzSrc="../../assets/img22.JPG" alt="АСУ-81" title="АСУ-81">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img23.JPG" alt="АСУ-85" title="АСУ-85">
				<img  nz-image class="photos1 materialboxed" nzSrc="../../assets/img24.JPG" alt="АСУ-81" title="АСУ-81">
				
			</div>	
		</div>
	</div>
</section>