/* GALERY */
.video-container{
	margin-top: 3%;
	margin-left: 3%;
}
.columns {
	display: flex;
	justify-content: flex-start;
}
.column1 {
	width: 40%;
	margin: 15px;
}
.column2 {
	width: 35%;
	margin: 15px;
}
.column3 {
	width: 25%;
	margin: 15px;
}
.line1 {
	display: flex;
	justify-content: flex-start;
	width: 45%;
	max-width: 5000px;
}
.photos1{
	margin: 15px;
	width: 100%;
}